<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% if (data && data.length > 0) { %> 
            <% data.forEach( user => { %>
                <ol>
                    <li>
                        <h3><%= user.userName %></h3>
                        <p><%= user.email %></p>
                        <hr>
                    </li>
                </ol>                
            <% }) %>
        <% } else {%> 
            nothing is in database
        <% } %>
    </div>
</body>
</html>