*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-light-hsl: 200, 100%, 91% ;
    --primary-hsl: 200, 100% , 50%;
    --primary-dark-hsl:  200, 100% , 6%;
    --success-hsl: 100, 60% , 50%;
    --error-hsl: 0 , 60% ,50%
}

body{
    margin: 0;
}
.login-title{
    margin: 0;
}
.full-screen-container{
    background-image: url("sky.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    /* variable (color) ,then we use it in our code,example (next line) */
    color: hsl(var(--primary-dark-hsl), .7); 
    background-color: hsl(var(--primary-dark-hsl),.7);
    box-shadow:0 0 15px 0 var(--color) ;
    padding: 40px 30px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
}
.login-title{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}
.form{
    display: flex;
    flex-direction: column;
    color: white;
    gap: .5rem;
    margin-top: 5px;
}

.form a{
    color: white;
    text-decoration: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap:7px;
}

.input-group label{
    color: white;
    font-weight: lighter;
}

.input-group input {
    font-size: 1.25rem;
    padding: .5rem;
    background-color: hsl(var(--primary-light-hsl), .3);
    border: none;
    outline: none;
    border-radius: .25em;
    font-weight: lighter;
}

.input-group.success input {
    box-shadow: 0 0 0 1px hsl(var(--success-hsl));
}

.input-group.error input {
    box-shadow: 0 0 0 1px hsl(var(--error-hsl));
}


.input-group input:focus {
    /* have a border is not good idea (everythings moves) */
    /* border: 1px solid hsl(var(--primary-hsl)); */
    box-shadow: 0 0 0 1px hsl(var(--primary-hsl));
}

.input-group .msg{
    /* on display none the conten disapear until */
    display: none;
    font-size: .75rem;
}

.input-group.success .msg,
.input-group.error .msg {
    display: block;
}

.input-group.error .msg{
    color: hsl(var(--error-hsl));
}

.input-group.success .msg{
    color: hsl(var(--success-hsl));
}

.login-btn{
    padding:  .5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: hsl(var(--primary-hsl), .25);
    border: 1px solid hsl(var(--primary-hsl));
    border-radius: .24em;
    outline:none;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    background-color: hsl(var(--primary-hsl), .6);
}

.submit_btn {
    height: 30px;
    width: 80px;
    border-radius: 100px;
    border: none;
    outline: none;
    
    margin-top: 15px;
} 

.submit_btn:hover {
    
    color: rgb(14, 14, 14);
    cursor: pointer;
}

.pass input {
    font-family: sans-serif;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 100px;
    border: none;
    text-align: center;
    outline: none;
}